[submodule "backend"]
	path = backend
	url = https://github.com/yee2542/CARS-KMUTT-Backend
[submodule "frontend-test"]
	path = frontend-test
	url = https://github.com/yee2542/CARS-KMUTT-Frontend-Test
